<!DOCTYPE html>
<html>
  <body>
    <h1>Thank You for Registering To GDG Hackathon!</h1>
    <p>
      We’re excited to have you as part of the event. If you have any questions, feel free to reach out.
    </p>
    <p>Best regards,<br>Hackathon Team</p>
  </body>
</html>
